@import "tailwindcss";

@theme {
  /* Font သတ်မှတ်ခြင်း */
  --font-primary: var(--font-jetbrainsMono);
  
  /* Color သတ်မှတ်ခြင်း */
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;
}

@layer base {
 body {
    font-family: var(--font-jetbrainsMono) !important;
    background-color: #1c1c22; 
    color: white;
    line-height: 2;
    @apply max-w-[1280px] mx-auto px-6 md:px-12;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}
.text-outline{
   -webkit-text-stroke: 1px #ffffff;
}

/* .text-outline-hover{
   -webkit-text-stroke: 1px #00ff99;
} */

.group:hover .group-hover\:text-outline-hover {
   -webkit-text-stroke: 1px #00ff99;
}